# Project 1 - TripAdvisor reccomandation system

# DATA PREPARATION

## Load the dataset

### Download dataset

In [78]:
import kagglehub
import zipfile
import os

dataset_filename = 'reviews.csv'
cache_dataset_zipped = kagglehub.dataset_download("joebeachcapital/hotel-reviews", path=dataset_filename)
# the file is actually downloaded as zipped, even if there is not '.zip' extensions
# so we need to extract it
extract_path = './'
# Check if the file already exists
if not os.path.exists(extract_path + dataset_filename):
    with zipfile.ZipFile(cache_dataset_zipped, 'r') as zip_ref:
        # Iterate through each file in the zip file
        for file in zip_ref.namelist():
            # Check if the file already exists
            if not os.path.exists(os.path.join(extract_path, file)):
                # Extract the file
                zip_ref.extract(file, extract_path)
        
dataset_path = extract_path + dataset_filename

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.3)

### import dataset

In [79]:
import pandas as pd

df = pd.read_csv(dataset_path)
df.head()

,ratings,title,text,author,date_stayed,offering_id,num_helpful_votes,date,id,via_mobile
0,"{'service': 5.0, 'cleanliness': 5.0, 'overall'...","“Truly is ""Jewel of the Upper Wets Side""”",Stayed in a king suite for 11 nights and yes i...,"{'username': 'Papa_Panda', 'num_cities': 22, '...",December 2012,93338,0,2012-12-17,147643103,False
1,"{'service': 5.0, 'cleanliness': 5.0, 'overall'...",“My home away from home!”,"On every visit to NYC, the Hotel Beacon is the...","{'username': 'Maureen V', 'num_reviews': 2, 'n...",December 2012,93338,0,2012-12-17,147639004,False
2,"{'service': 4.0, 'cleanliness': 5.0, 'overall'...",“Great Stay”,This is a great property in Midtown. We two di...,"{'username': 'vuguru', 'num_cities': 12, 'num_...",December 2012,1762573,0,2012-12-18,147697954,False
3,"{'service': 5.0, 'cleanliness': 5.0, 'overall'...",“Modern Convenience”,The Andaz is a nice hotel in a central locatio...,"{'username': 'Hotel-Designer', 'num_cities': 5...",August 2012,1762573,0,2012-12-17,147625723,False
4,"{'service': 4.0, 'cleanliness': 5.0, 'overall'...",“Its the best of the Andaz Brand in the US....”,I have stayed at each of the US Andaz properti...,"{'username': 'JamesE339', 'num_cities': 34, 'n...",December 2012,1762573,0,2012-12-17,147612823,False

## Data formatting

### Flatten the json 'ratings' column

In [80]:
from pandas import json_normalize
# convert JSON column to DataFrame
json_df = json_normalize(df.ratings.apply(eval))

# merge the two dataframes
df = df.drop(columns=['ratings']).join(json_df)
df

,title,text,author,date_stayed,offering_id,num_helpful_votes,date,id,via_mobile,service,cleanliness,overall,value,location,sleep_quality,rooms,check_in_front_desk,business_service_(e_g_internet_access)
0,"“Truly is ""Jewel of the Upper Wets Side""”",Stayed in a king suite for 11 nights and yes i...,"{'username': 'Papa_Panda', 'num_cities': 22, '...",December 2012,93338,0,2012-12-17,147643103,False,5.0,5.0,5.0,5.0,5.0,5.0,5.0,NaN,NaN
1,“My home away from home!”,"On every visit to NYC, the Hotel Beacon is the...","{'username': 'Maureen V', 'num_reviews': 2, 'n...",December 2012,93338,0,2012-12-17,147639004,False,5.0,5.0,5.0,5.0,5.0,5.0,5.0,NaN,NaN
2,“Great Stay”,This is a great property in Midtown. We two di...,"{'username': 'vuguru', 'num_cities': 12, 'num_...",December 2012,1762573,0,2012-12-18,147697954,False,4.0,5.0,4.0,4.0,5.0,4.0,4.0,NaN,NaN
3,“Modern Convenience”,The Andaz is a nice hotel in a central locatio...,"{'username': 'Hotel-Designer', 'num_cities': 5...",August 2012,1762573,0,2012-12-17,147625723,False,5.0,5.0,4.0,5.0,5.0,5.0,5.0,NaN,NaN
4,“Its the best of the Andaz Brand in the US....”,I have stayed at each of the US Andaz properti...,"{'username': 'JamesE339', 'num_cities': 34, 'n...",December 2012,1762573,0,2012-12-17,147612823,False,4.0,5.0,4.0,3.0,5.0,5.0,5.0,NaN,NaN

### Remove unused columns and rows

In [81]:
# unused columns
df.drop(columns=['title', 'author', 'date_stayed', 'num_helpful_votes', 'date', 'id', 'via_mobile'], inplace=True, errors='ignore')
# reviews that have null values on relevant rating criteria
relevant_ratings = ['service', 'cleanliness', 'overall', 'value', 'location', 'sleep_quality', 'rooms']
df.dropna(subset=relevant_ratings, inplace=True)
# reviews that have more rating criteria than the relevant ones
df = df[~df['check_in_front_desk'].notna()]
df = df[~df['business_service_(e_g_internet_access)'].notna()]
df.drop(columns=['check_in_front_desk', 'business_service_(e_g_internet_access)'], inplace=True, errors='ignore')
df

,text,offering_id,service,cleanliness,overall,value,location,sleep_quality,rooms
0,Stayed in a king suite for 11 nights and yes i...,93338,5.0,5.0,5.0,5.0,5.0,5.0,5.0
1,"On every visit to NYC, the Hotel Beacon is the...",93338,5.0,5.0,5.0,5.0,5.0,5.0,5.0
2,This is a great property in Midtown. We two di...,1762573,4.0,5.0,4.0,4.0,5.0,4.0,4.0
3,The Andaz is a nice hotel in a central locatio...,1762573,5.0,5.0,4.0,5.0,5.0,5.0,5.0
4,I have stayed at each of the US Andaz properti...,1762573,4.0,5.0,4.0,3.0,5.0,5.0,5.0
...,...,...,...,...,...,...,...,...,...
878548,"Das Hotel Palomar gehoert zur Kimpton Gruppe, ...",84093,4.0,5.0,4.0,3.0,4.0,4.0,4.0
878549,Anlässlich einer Geschäftsreise waren wir das ...,84093,5.0,5.0,5.0,5.0,5.0,5.0,5.0
878550,"Das Hotel liegt in Arlington, eine etwas gehob...",84093,5.0,5.0,5.0,4.0,5.0,5.0,5.0
878551,Mon mari et moi sommes restés à l'hôtel du jeu...,84093,5.0,5.0,5.0,5.0,5.0,5.0,5.0
878552,Hôtel un peu éloigné du Mall et du centre mais...,84093,4.0,5.0,4.0,4.0,3.0,5.0,4.0

### Inspect

In [93]:
# FRENCH REVIEWS: IN PROGRESS
# per parole
to_filter = ['bonne','de','le','les','une','des','du','ce','cet','cette','ces','mon','ma','mes','ton','ta','tes','sa','ses','notre','nos','votre','vos','leur','leurs','quel','quelle','quels','quelles','ceci','cela','celui','celle','ceux','celles']
pattern = r'\b(?:' + '|'.join(to_filter) + r')\b'
# per caratteri
to_filter = ['â','ä','ç','é','è','ê','ë','î','ï','ô','ö','ù','û','ü','ÿ']
pattern = '|'.join(to_filter)
# Filter the DataFrame
df_filtered = df[df['text'].str.contains(pattern, case=False, na=False, regex=True)]

# Display the resulting DataFrame
df_filtered

,text,offering_id,service,cleanliness,overall,value,location,sleep_quality,rooms
44,The information about the Sherry-Netherland is...,93559,2.0,3.0,2.0,1.0,5.0,3.0,3.0
77,My wife and I stayed in four hotels in our rec...,1456560,4.0,5.0,5.0,4.0,5.0,5.0,5.0
173,I had booked my stay at the Setai as a 25th we...,1776857,1.0,4.0,2.0,2.0,4.0,3.0,5.0
265,The Sherry-Netherland Hotel was a perfect spot...,93559,5.0,5.0,5.0,4.0,5.0,5.0,5.0
456,Just got back from a 3 night stay at the Beaco...,93338,3.0,5.0,5.0,4.0,4.0,4.0,5.0
...,...,...,...,...,...,...,...,...,...
878545,Me alojé en el Hotel Palomar del 23 al 26 de j...,84093,5.0,5.0,5.0,4.0,4.0,5.0,5.0
878549,Anlässlich einer Geschäftsreise waren wir das ...,84093,5.0,5.0,5.0,5.0,5.0,5.0,5.0
878550,"Das Hotel liegt in Arlington, eine etwas gehob...",84093,5.0,5.0,5.0,4.0,5.0,5.0,5.0
878551,Mon mari et moi sommes restés à l'hôtel du jeu...,84093,5.0,5.0,5.0,5.0,5.0,5.0,5.0
878552,Hôtel un peu éloigné du Mall et du centre mais...,84093,4.0,5.0,4.0,4.0,3.0,5.0,4.0

In [69]:
# overall check
print('empty reviews count:', df.text.apply(lambda x: x.strip() == '').sum())
df.isnull().sum()

empty reviews count: 0

text             0
offering_id      0
service          0
cleanliness      0
overall          0
value            0
location         0
sleep_quality    0
rooms            0
dtype: int64

### Concatenate reviews

In [70]:
df = df.groupby('offering_id').agg({
    'text': ' '.join, 
    'service': 'mean',
    'cleanliness': 'mean',
    'overall': 'mean',
    'value': 'mean',
    'location': 'mean',
    'sleep_quality': 'mean',
    'rooms': 'mean'
}).reset_index()

# Display the resulting DataFrame
df

Before concatenation: 3754

,offering_id,text,service,cleanliness,overall,value,location,sleep_quality,rooms
0,72572,I had to make fast visit to seattle and I foun...,4.601010,4.636364,4.388889,4.323232,4.570707,4.333333,4.282828
1,72579,"Great service, rooms were clean, could use som...",4.232000,4.240000,3.888000,4.152000,4.192000,3.768000,3.856000
2,72586,Beautiful views of the space needle - especial...,4.250000,4.287879,4.045455,4.053030,4.537879,4.113636,3.992424
3,72598,This hotel is in need of some serious updates....,3.243243,3.243243,2.918919,3.054054,3.027027,3.270270,3.189189
4,73236,My experience at this days inn was perfect. th...,4.277778,3.111111,3.388889,3.777778,4.111111,3.722222,3.222222
...,...,...,...,...,...,...,...,...,...
3749,3523356,I've stayed at plenty of Hampton Inns during m...,4.928571,4.928571,4.571429,4.214286,4.500000,4.571429,4.500000
3750,3541823,"Inn staff absolutely wonderful, helpful, knowl...",4.333333,4.500000,3.666667,4.000000,4.666667,3.166667,3.000000
3751,3572384,"Crowded, noisy, dirty. Service is poor, food i...",3.000000,2.000000,2.000000,2.000000,4.000000,3.000000,2.000000
3752,3572583,El hotel estaba en medio de una remodelación. ...,1.000000,1.000000,1.000000,1.000000,4.000000,3.000000,1.000000
3753,3574675,We were looking for a place to stay close to t...,3.000000,2.750000,2.750000,3.000000,3.500000,3.000000,2.250000